<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="firstlayout.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="brandname">
            <h1>HALEEB</h1>
        </div>
        <div class="list">
            <ul>
                <li><a href="a">ABOUT US</a></li>
                <li> <a href="a">BRANDS</a></li>
                <li> <a href="a"> CONTACT US</a></li>
            </ul>
        </div>
        <div class="but">
            <button class="a">ORDER NOW</button>

        </div>
        
    </nav>
    <figure class="figure">
        <img src="cover.png" alt="Images">
    </figure>
    <section class="thirdblock">
        <h1>Our Brands </h1>
        <div class="brands">
            <img src="brand-1.png" alt="Image1">
            <img src="brand-2.png" alt="Image2">
            <img src="brand-3.png" alt="Image3">
            <img src="brand-4.png" alt="Image4">
            <img src="brand-5.png" alt="Image5">
            <img src="brand-6.png" alt="Image6">
            <img src="brand-7.png" alt="Image7">
            <img src="brand-8.png" alt="Image8">
            <img src="brand-9.png" alt="Image8">
            <img src="brand-10.png" alt="Image8">
        </div>

    </section>
    <section class="forthblock">
        <h1>Our Milk Story</h1>
        <div class="milk">
           
            <img src="Milk-Collection.jpg" alt="Image1">
            <img src="Lab-Testing.jpg" alt="Image2">
            <img src="Pasteurization.jpg" alt="Image3">
            <img src="UHT-Treatment.jpg" alt="Image4">
            <img src="Aseptic Storage.jpg" alt="Image5">
            <img src="Packaging.jpg" alt="Image6">
            <img src="Distribution.jpg"alt="Image7">
            
        </div>
    </section>
    <section class="fifthblock">
        <div class="block1">
            <p> ABOUT US <br> <br>  About HF<br>Contact Us<br>Cookies Policie<br>Environmental & Privacy Polic<br>Health and Safety Policy<p>
        </div>
        <div class="block2">
            <p>PARTNER WITH HFL
                <br>Get in touch with our team for
                <br>queries regarding export, distribution
                <br>or retail.</p>
                <button class="bt">MESSAGE NOW</button>
        </div>
        <div>

        </div>
       


    </section>

</body>
</html>